<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
</head>

<body>

  <div class="top-container">

    <header>
      <div class="">
        Logo
      </div>
      <div class="">
        navigation
      </div>
    </header>

    <main>
      <div class="title-box">
        Title Box
      </div>

      <!-- <div id="app"> -->
      <div class="detail-box">
        Detail box


        <div class="holder headline">
          <h1>Travel Planner</h1>
        </div>
        <div class="holder departing">
          <label for="departing">Departing:</label>
          <input type="date" id="departing" placeholder="MM/DD/YYYY" min='2020-01-01' max='2030-01-01'>
        </div>


      </div>
      <div class="input-box">
        <div class="holder placename">
          <label for="placename">My trip to:</label>
          <input type="text" id="placename" placeholder="Enter Location">
        </div>

        <button id="save-trip" type="submit">Save Trip</button>

        <!-- </div> -->

    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>