<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
</head>

<body>

  <header>
    <div class="">
      Logo
    </div>
    <div class="">
      navigation
    </div>
  </header>

  <main>
    <div id="app">
      <div class="holder headline">
        <h1>Travel Planner</h1>
      </div>
      <div class="holder placename">
        <label for="placename">My trip to:</label>
        <input type="text" id="placename" placeholder="Enter Location">
      </div>
      <div class="holder departing">
        <label for="departing">Departing:</label>
        <input type="date" id="departing" placeholder="MM/DD/YYYY" min='2020-01-01' max='2030-01-01'>
      </div>
      <div class="holder feel">
        <label for="feelings">How are you feeling today?</label>
        <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
        <button id="generate" type="submit"> Generate </button>
      </div>
      <div class="holder entry">
        <div class="title">Most Recent Entry</div>
        <div id="entryHolder">
          <div id="date"></div>
          <div id="temp"></div>
          <div id="content"></div>
        </div>
      </div>
    </div>

  </main>

  <footer>
    <p>This is a footer</p>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>