@import 'config';

%btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: $btn-color-primary;
  font-size: 1.5rem;
  border: 0.2rem solid $btn-color-secondary;
  margin-bottom: 1rem;
  cursor: pointer;
  
  &:hover:not(.disabled) {
    color: $btn-color-primary;
    background-color: $btn-color-secondary;
  }
  
  &.disabled {
    cursor: not-allowed;
    color: $btn-color-disabled;
    border: 0.15rem solid $btn-color-disabled;
  }
}

button {
  @extend %btn;
}

.btn-add {
  @extend %btn;
  border-radius: 2rem;
  font-size: 1rem;
  border: 0.15rem solid $btn-color-secondary;
  background: none;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  margin-bottom: 0.5rem;
}
