$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$theme-color-1: #eee;
$theme-color-2: #222831;
$theme-color-3: #4f8a8b;
$theme-color-4: #fbd46d;

$primary-color: $theme-color-2;
$secondary-color: $theme-color-3;
$accent-color: $theme-color-4;
$light-color: $theme-color-1;
$light-color-2: #fffff8;
$grey-color: #999;

$btn-color-primary: $light-color-2;
$btn-color-secondary: $primary-color;
$btn-color-disabled: $grey-color;

$placeholder-color: #636c72;

$main-gutter: 4rem;
$hdr-ftr-gutter: 2rem;
