/************** Trip Details Pane ***************/

@import 'config';

.dest-photo {
  width: 100%;
}

#detail-dest,
#detail-departing {
  font-size: 1.7rem;
  font-weight: bold;
}

#detail-departing,
#detail-countdown {
  margin-bottom: 1rem;
}

#detail-countdown,
.detail-weather-hdr {
  font-size: 1.5rem;
}

#detail-weather {
  font-size: 1.3rem;
}

.loading {
  background-color: $accent-color;
}

.weather-icon {
  height: 5rem;
  width: 5rem;
}

%table-shared {
  width: 100%;
  max-width: 32rem;
  margin-bottom: 1rem;
}

.extra-table,
.weather-table {
  @extend %table-shared;
}

.td-icon {
  text-align: center;
  vertical-align: center;
}

.td-temp {
  vertical-align: bottom;
}

.td-desc {
  vertical-align: top;
}

.td-title {
  font-size: 1.2rem;
  font-weight: bold;
}
