.dest-photo {
  width: 100%;
}

#detail-dest,
#detail-departing {
  font-size: 1.7rem;
  font-weight: bold;
}

#detail-departing,
#detail-countdown {
  margin-bottom: 1rem;
}

#detail-countdown,
.detail-weather-hdr {
  font-size: 1.5rem;
}

#detail-weather {
  font-size: 1.3rem;
}
