.dest-photo {
  width: 100%;
}

#detail-dest,
#detail-departing {
  font-size: 1.7rem;
  font-weight: bold;
}

#detail-departing,
#detail-countdown {
  margin-bottom: 1rem;
}

#detail-countdown,
.detail-weather-hdr {
  font-size: 1.5rem;
}

#detail-weather {
  font-size: 1.3rem;
}

.loading {
  background-color: #fbd46d;
}

.weather-icon {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
}

.extra-table {
  width: 100%;
  max-width: 32rem;
  margin-bottom: 1rem;
}

.td-title {
  font-size: 1.2rem;
  font-weight: bold;
}
