/********* Footer *********/

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 var(--hdr-ftr-gutter);
}

.social-media {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.social-media-icon {
  cursor: pointer;
  color: inherit;
}

.social-media-icon:hover {
  color: #fbd46d;
}

/********* Media Queries *********/

@media screen and (max-width: 1024px) {
  .social-media {
    width: 15%
  }
}

@media screen and (max-width: 768px) {
  .social-media {
    width: 25%;
  }
}