/************** Grid Layout ***************/

@import 'config';

.top-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 6rem auto 12rem 3rem;
}

header {
  grid-column: span 12;
  background-color: $primary-color;
}

main {
  grid-column: span 12;
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4rem auto;
  background-color: $light-color;
}

.title-box {
  grid-column: span 12;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: $main-gutter;
}

.detail-box {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.detail-1 {
  grid-column: span 6;
  padding-right: 1rem;
  padding-left: $main-gutter;
}

.detail-2 {
  grid-column: span 6;
  padding-left: 1rem;
  padding-right: $main-gutter;
}

.input-box {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.input-box-1 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.input-box-2 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 0.5rem;
}

.input-box-3 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 0.5rem;
}

.input-box-4 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0.5rem;
}

footer {
  grid-column: span 12;
  background-color: $secondary-color;
  color: rgb(226, 226, 226);
}

/********* Media Queries *********/

@media screen and (max-width: 1024px) {
  $main-gutter: 3em;
}

@media screen and (max-width: 768px) {
  $main-gutter: 1.5em;
  $hdr-ftr-gutter: 1.5em;

  .detail-1 {
    grid-column: span 12;
    padding-left: $main-gutter;
    padding-right: $main-gutter;
    margin-bottom: 1rem;
  }
  
  .detail-2 {
    grid-column: span 12;
    padding-left: $main-gutter;
    padding-right: $main-gutter;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 0.85rem;
  }
}
