// Main Styles

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;900&family=Playfair+Display:wght@400;500;800&family=Poppins&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'config';
@import 'button';

body {
  background: $light-color-2;
  font-family: $primary-font;
  line-height: 2rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 2rem;
}

input {
  display: block;
  height: 2rem;
  width: 15rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0,0,0,0.5);
  border-style: none none solid none;
}

h1 {
  font-size: 3.5rem;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: $placeholder-color;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $placeholder-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $placeholder-color;
}
